<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>核对单</title>
    <script src="js/lib/vue.js"></script>
    <script src="js/lib/axios.min.js"></script>
    <script src="js/utils/util.js?version=1.4.3"></script>
    <script src="js/classes.js?version=1.4.3"></script>
</head>
<style>
    .info {
        margin-right: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-family: 宋体, serif;
    }

    .check-caption {
        font-size: 25px;
        font-family: 黑体, serif;
    }

    .number-input {
        width: 50px;
    }

    #tables4 table {
        border-collapse: collapse;
    }

    #tables4 td {
        border: 1px solid black;
        padding: 0;
        text-align: center;
        font-size: 20px;
        font-family: 宋体, serif;
        height: 27px;
        min-width: 100px;
    }

    #tables5 table {
        border-collapse: collapse;
    }

    #tables5 .table-stickers-tr-title td {
        border: 1px solid black;
        padding: 0;
        text-align: center;
        font-size: 20px;
        font-family: 宋体, serif;
        height: 25px;
        min-width: 80px;
    }

    #tables5 .table-stickers-tr-body td {
        border: 1px solid black;
        padding: 0;
        text-align: center;
        font-size: 20px;
        font-family: 宋体, serif;
        height: 40px;
        min-width: 80px;
    }

    .table-title {
        font-size: 28px;
        margin: 10px;
        font-family: 黑体, serif;
    }

    .ticket-p {
        font-size: 19px;
        font-family: 宋体, serif;
    }

    @media print {
        .no-print {
            display: none;
        }
    }

    .middle {
        margin: auto;
    }

    #container p {
        line-height: 19px;
    }

    #ticket-single table {
        border-collapse: collapse;
    }

    #ticket-single .ticket-single-main {
        font-size: 19px;
        font-family: 宋体, serif;
        height: 60px;
    }

    #ticket-single .rrr {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
<div id="app">
    <div class="no-print">
        <h1>嘉兴市职业技能操作考试试场编排系统</h1>
        <div style="display: flex">

            <div style="float: left; margin-left: 5px; border-right: black solid 1px">
                <div>
                    <div>
                        <h4>表单功能</h4>
                        <label>
                            图片大小
                            <input v-on:change="adjustImgSize()" v-on:input="adjustImgSize()" v-model="imgWidth"
                                   type="number"
                                   class="number-input">
                        </label>
                        <br/>
                        <div>
                            <label>字体大小: {{infoFontSize}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button v-on:click="changeInfoFontSize(1)">+</button>
                            <button v-on:click="changeInfoFontSize(-1)">-</button>
                        </div>
                        <label>若图片数量较多，调整上述参数时会有卡顿。</label>
                        <br/>
                        <button v-on:click="processPic(0)">顺序生成</button>
                        <button v-on:click="processPic(Math.ceil(Math.random() * 10000000000))">随机生成</button>
                        <button v-on:click="advanceChange()">高级设置</button>
                        <br/>
                        <p>
                            <button v-on:click="exportExcel()">导出Excel</button>
                        </p>
                        <div v-show="advance">
                            <hr>
                            <p>
                                <button v-on:click="processPic(random)">使用右侧随机数生成</button>
                                <label>
                                    <input type="number" v-model="random">
                                </label>
                            </p>
                            <p>
                                <label>两次的随机数若一致，那么生成的顺序也是一致的。</label>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>

                <p>
                    打印前，请先大致浏览一遍页面，确保每张图片浏览器都显示出来了。
                </p>
                <p>
                    点击打印后，建议生成PDF文件。同时可以导出Excel表格方便查看。
                </p>
                <hr>

                <button onclick="window.print()">打印(Ctrl+P)/保存</button>

            </div>

            <div style="width: 550px;">
                <h3>打印页面使用说明</h3>
                <p>
                    本页面是在选择完毕考生信息Excel文件和照片后，进行的设置。若没有选择照片，那么将无法显示照片。
                </p>
                <hr>

                <p>
                    “核对单功能”中，“顺序生成”会主要按照Excel的顺序进行一次生成，不改变同一个类别内的顺序。随机生成则会随机打乱同一个考点下同一个类别内的考生次序。
                </p>
                <p>
                    “高级选项”中，可以指定随机数。那么程序会用该随机数，通过某种算法，来打乱次序。为 0
                    的时候不打乱。随机数相同那么打乱情况也相同（也就是可以用来重现编排）。
                </p>
                <hr>

                <p>
                    “准考证生成”需要先生成核对单，会根据核对单来生成准考证。一页 8 张。
                </p>
                <hr>

                <p>
                    最后，当设置完成后，点击打印，即可弹出打印预览的界面。
                </p>
                <span style="font-size: 8px; color: lightgray">@嘉兴市教育考试院</span>
            </div>
        </div>
        <hr>
        <div>
            <hr>
        </div>
        <button v-on:click="changeTab('核对单列表(带照片)')">切换至 核对单列表(带照片)</button>
        <button v-on:click="changeTab('核对单列表(无照片)')">切换至 核对单列表(无照片)</button>
        <button v-on:click="changeTab('核对单列表(桌贴样式)')">切换至 核对单列表(桌贴样式)</button>
        <button v-on:click="changeTab('准考证列表')">切换至 准考证列表</button>
        <button v-on:click="changeTab('准考证列表(单张)')">切换至 准考证列表(单张)</button>
        <h2>{{tab}}</h2>
        <hr>
    </div>

    <div id="container" style="display: flex">
        <div id="tables3" class="print middle" v-if="tab === '核对单列表(带照片)'">
            <div class="no-print">
                <label>
                    第一行标题<input v-model="tableConfig.table1.title1" style="width: 300px;">
                </label>
                <br/>
                <label>
                    第二行标题<input v-model="tableConfig.table1.title2" style="width: 300px;">
                </label>
                <br/>
                <label>
                    每行数量
                    <input v-model="tableConfig.table1.colCount" type="number" class="number-input">
                </label>
                <br/>
                <button @click="tableConfig.table1.showExamNumber = !tableConfig.table1.showExamNumber">
                    显示/隐藏考生号(已{{toShowHideStr(tableConfig.table1.showExamNumber)}})
                </button>
                <button @click="tableConfig.table1.showIdCard = !tableConfig.table1.showIdCard">
                    显示/隐藏证件号码(已{{toShowHideStr(tableConfig.table1.showIdCard)}})
                </button>
                <button @click="tableConfig.table1.showName = !tableConfig.table1.showName">
                    显示/隐藏姓名(已{{toShowHideStr(tableConfig.table1.showName)}})
                </button>
                <button @click="tableConfig.table1.showSex = !tableConfig.table1.showSex">
                    显示/隐藏性别(已{{toShowHideStr(tableConfig.table1.showSex)}})
                </button>
                <button @click="tableConfig.table1.showSeatNo = !tableConfig.table1.showSeatNo">
                    显示/隐藏座位号(已{{toShowHideStr(tableConfig.table1.showSeatNo)}})
                </button>
                <hr>
            </div>

            <!--科目下的单个试场-->
            <template v-for="(room, index) in allExamInfo.rooms">
                <div style="line-height: 1px">&nbsp;</div>
                <table>
                    <caption>
                        <div style="margin-bottom: 8px;">
                            <p v-if="tableConfig.table1.title1" class="table-title">{{tableConfig.table1.title1}}</p>
                            <p v-if="tableConfig.table1.title2" class="table-title">{{tableConfig.table1.title2}}</p>
                            <!--考点-科目-试场号-->
                            <span class="check-caption" style="float: left">
                                            考点：{{room.examPlaceName}}
                                        </span>
                            <span class="check-caption">
                                            {{room.subjectName}}({{room.subjectType}})
                                        </span>
                            <span class="check-caption" style="float: right">
                                            试场：{{room.roomName}}
                                        </span>
                        </div>
                    </caption>

                    <!--单个考点下若干行-->
                    <template v-for="row in Math.ceil(room.persons.length / tableConfig.table1.colCount)">
                        <tr>
                            <!--每行具体内容-->
                            <template
                                    v-for="(person, col) in room.persons.slice((row - 1) * tableConfig.table1.colCount, row * tableConfig.table1.colCount)">
                                <td>
                                    <img :src="picHost + person.picSrc" alt="" :width="imgWidth + 'px'"
                                         :height="imgHeight + 'px'"
                                         style="margin-right: 40px; margin-bottom: 0; margin-top: 12px;">
                                    <p v-if="tableConfig.table1.showExamNumber" class="info">{{person.examNumber}}</p>
                                    <p v-if="tableConfig.table1.showIdCard" class="info">{{person.idCard}}</p>
                                    <p v-if="tableConfig.table1.showName || tableConfig.table1.showSex" class="info">
                                        <span v-if="tableConfig.table1.showName">{{person.name}}</span>
                                        <span v-if="tableConfig.table1.showName && tableConfig.table1.showSex">　</span>
                                        <span v-if="tableConfig.table1.showSex">{{person.sex}}</span>
                                    </p>
                                    <p v-if="tableConfig.table1.showSeatNo" class="info">座位号：{{person.seatNo}}</p>
                                </td>
                            </template>

                            <!--最后一行补充空白-->
                            <template v-if="(row * tableConfig.table1.colCount) > room.persons.length">
                                <template v-for="row in (tableConfig.table1.colCount - room.persons.length % tableConfig.table1.colCount)">
                                    <!--空白行-->
                                    <td>
                                        <img :src="emptyPng" alt=" " :width="imgWidth + 'px'"
                                             :height="imgHeight + 'px'"
                                             style="margin-right: 40px; margin-bottom: 0; margin-top: 12px; border: none">
                                    </td>
                                </template>

                            </template>
                        </tr>
                    </template>
                </table>

                <div class="no-print">
                    <hr>
                </div>
                <div style="page-break-after:always;"></div>
            </template>
        </div>

        <div id="tables4" class="print middle" v-if="tab === '核对单列表(无照片)'">
            <div class="no-print">
                <label>
                    第一行标题<input v-model="tableConfig.table2.title1" style="width: 300px;">
                </label>
                <br/>
                <label>
                    第二行标题<input v-model="tableConfig.table2.title2" style="width: 300px;">
                </label>
                <br/>
                <button @click="tableConfig.table2.showNumber = !tableConfig.table2.showNumber">
                    显示/隐藏序号(已{{toShowHideStr(tableConfig.table2.showNumber)}})
                </button>
                <button @click="tableConfig.table2.showExamNumber = !tableConfig.table2.showExamNumber">
                    显示/隐藏准考证号(已{{toShowHideStr(tableConfig.table2.showExamNumber)}})
                </button>
                <button @click="tableConfig.table2.showName = !tableConfig.table2.showName">
                    显示/隐藏姓名(已{{toShowHideStr(tableConfig.table2.showName)}})
                </button>
                <button @click="tableConfig.table2.showIdCard = !tableConfig.table2.showIdCard">
                    显示/隐藏证件号码(已{{toShowHideStr(tableConfig.table2.showIdCard)}})
                </button>
                <br/>
                <button @click="tableConfig.table2.showSex = !tableConfig.table2.showSex">
                    显示/隐藏性别(已{{toShowHideStr(tableConfig.table2.showSex)}})
                </button>
                <button @click="tableConfig.table2.showSeatNo = !tableConfig.table2.showSeatNo">
                    显示/隐藏座位号(已{{toShowHideStr(tableConfig.table2.showSeatNo)}})
                </button>
                <button @click="tableConfig.table2.showSign = !tableConfig.table2.showSign">
                    显示/隐藏签名栏(已{{toShowHideStr(tableConfig.table2.showSign)}})
                </button>
                <hr>
            </div>

            <!--科目下的单个试场-->
            <template v-for="(room, index) in allExamInfo.rooms">
                <div style="line-height: 1px">&nbsp;</div>
                <table>
                    <caption>
                        <div style="margin-bottom: 8px;">
                            <p v-if="tableConfig.table2.title1" class="table-title">{{tableConfig.table2.title1}}</p>
                            <p v-if="tableConfig.table2.title2" class="table-title">{{tableConfig.table2.title2}}</p>
                            <!--考点-科目-试场号-->
                            <span class="check-caption" style="float: left">
                                            考点：{{room.examPlaceName}}
                                        </span>
                            <span class="check-caption">
                                            {{room.subjectName}}({{room.subjectType}})
                                        </span>
                            <span class="check-caption" style="float: right">
                                            试场：{{room.roomName}}
                                        </span>
                        </div>
                    </caption>
                    <thead>
                    <tr>
                        <td v-if="tableConfig.table2.showNumber">序号</td>
                        <td v-if="tableConfig.table2.showExamNumber">考生号</td>
                        <td v-if="tableConfig.table2.showName">姓名</td>
                        <td v-if="tableConfig.table2.showIdCard">证件号码</td>
                        <td v-if="tableConfig.table2.showSex">性别</td>
                        <td v-if="tableConfig.table2.showSeatNo">座位号</td>
                        <td v-if="tableConfig.table2.showSign">签名</td>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(person, index) in room.persons">
                        <tr>
                            <td v-if="tableConfig.table2.showNumber">{{index + 1}}</td>
                            <td v-if="tableConfig.table2.showExamNumber">{{person.examNumber}}</td>
                            <td v-if="tableConfig.table2.showName">{{person.name}}</td>
                            <td v-if="tableConfig.table2.showIdCard">{{person.idCard}}</td>
                            <td v-if="tableConfig.table2.showSex">{{person.sex}}</td>
                            <td v-if="tableConfig.table2.showSeatNo">{{person.seatNo}}</td>
                            <td v-if="tableConfig.table2.showSign" style="min-width: 150px"></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <div style="page-break-after:always;"></div>
            </template>
        </div>

        <div id="tables5" class="print middle" v-if="tab === '核对单列表(桌贴样式)'">
            <div class="no-print">
                <label>
                    每页数量：
                    <input v-model="tableConfig.table3.tableStickersPerPageCount" type="number" class="number-input">
                </label>
                <label>
                    标题：
                    <input v-model="tableConfig.table3.title1" style="width: 300px">
                </label>
                <hr>
            </div>
            <!--科目下的单个试场-->
            <template v-for="(room, index) in allExamInfo.rooms">
                <template v-for="row in Math.ceil(room.persons.length / tableConfig.table3.tableStickersPerPageCount)">

                    <table>
                        <caption>
                            <div style="margin-top: -5px; margin-bottom: 15px;">
                                <p>{{tableConfig.table3.title1}}</p>
                                <!--考点-科目-试场号-->
                                <span style="float: left">考点：{{room.examPlaceName}}</span>
                                <span>{{room.subjectName}}({{room.subjectType}})</span>
                                <span style="float: right">试场：{{room.roomName}}-{{row}}/{{Math.ceil(room.persons.length / tableConfig.table3.tableStickersPerPageCount)}}</span>
                            </div>
                        </caption>

                        <tbody>
                        <template
                                v-for="(person, col) in room.persons.slice((row - 1) * tableConfig.table3.tableStickersPerPageCount, row * tableConfig.table3.tableStickersPerPageCount)">
                            <template>
                                <tr class="table-stickers-tr-title">
                                    <td>座位号</td>
                                    <td>考生号</td>
                                    <td>姓名</td>
                                    <td>类别</td>
                                    <td>考试时间</td>
                                </tr>
                                <tr class="table-stickers-tr-body">
                                    <td>{{person.seatNo}}</td>
                                    <td>{{person.examNumber}}</td>
                                    <td>{{person.name}}</td>
                                    <td>
                                        <span v-if="person.subjectName">
                                            {{person.subjectName}}
                                        </span>
                                        <span v-if="person.subjectType">
                                            {{person.subjectType}}
                                        </span>
                                    </td>
                                    <td>{{person.time}}</td>
                                </tr>
                                <br>
                            </template>
                        </template>
                        </tbody>
                    </table>
                    <div style="page-break-after:always;"></div>
                </template>
            </template>
        </div>

        <div id="ticket" class="print middle" v-if="tab === '准考证列表'">
            <div class="no-print">
                <label>
                    第一行标题<input v-model="tableConfig.table3.title1" style="width: 300px;">
                </label>
                <br/>
                <label>
                    第二行标题<input v-model="tableConfig.table3.title2" style="width: 300px;">
                </label>
                <hr>
            </div>

            <template v-for="row in Math.ceil(allExamInfo.persons.length / tableConfig.table3.ticketColCount)">
                <table>
                    <tr>
                        <template
                                v-for="(person, col) in allExamInfo.persons.slice((row - 1) * tableConfig.table3.ticketColCount, row * tableConfig.table3.ticketColCount)">
                            <td>
                                <div>
                                    <h2 style="text-align: center">{{tableConfig.table3.title1}}</h2>
                                    <h2 style="text-align: center; margin-top: -15px">{{tableConfig.table3.title2}}</h2>
                                </div>

                                <div style="margin-right: 20px; width: 535px; float: left">
                                    <div style="float: right">
                                        <img :src="picHost + person.picSrc" alt=""
                                             :width="ticketImgWidth + 'px'"
                                             :height="ticketImgWidth * 1.4 + 'px'" style="margin-right: 40px;">
                                    </div>
                                    <div style="margin-right: 20px">
                                        <p class="ticket-p">考生号：{{person.examNumber}}</p>
                                        <p class="ticket-p">证件号码：{{person.idCard}}</p>
                                        <p class="ticket-p">
                                            考生姓名：{{person.name}}&nbsp;性别：{{person.sex}}</p>
                                        <p class="ticket-p"
                                           v-show="person.examPlaceName !=null && person.examPlaceName.length > 0">
                                            考点：{{person.examPlaceName}}</p>
                                        <p class="ticket-p">
                                            类别：{{person.subjectTypeName}}{{addPrefixZero(person.subjectTypeName ? person.subjectTypeName.length : null, 4)}}
                                            试场号：{{person.roomNo}}&nbsp;座位号：{{person.seatNo}}</p>
                                        <p class="ticket-p" v-show="person.time != null && person.time !== ''">
                                            时间：{{person.time}}
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </template>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                            <p></p>
                            <p></p>
                        </td>
                    </tr>
                </table>

                <template v-if="row % 4 === 0">
                    <!--每隔 4 行一次分页，但是除 这个试场的 row 是最后一行，或者 这个科目是最后一个 之外-->
                    <div class="no-print">
                        <hr>
                    </div>
                    <div style="page-break-after: always;"></div>
                </template>
            </template>
        </div>

        <div id="ticket-single" class="print middle" v-if="tab === '准考证列表(单张)'">
            <div class="no-print">
                <label>
                    第一行标题<input v-model="tableConfig.table4.title1" style="width: 300px;">
                </label>
                <br/>
                <label>
                    第二行标题<input v-model="tableConfig.table4.title2" style="width: 300px;">
                </label>
                <br>
                <label>
                    备注：
                    <textarea v-model="tableConfig.table4.ticketSingleMsg" style="width: 500px; height: 150px" placeholder="在此处可以输入相关文字备注，将显示在准考证下方作为备注栏"></textarea>
                </label>
                <br>
                <button @click="changeTicketPicShow()">显示/隐藏照片(已{{toShowHideStr(tableConfig.table4.showTicketSinglePic)}})
                </button>
                <hr>
            </div>
            <!--单个科目，遍历下属的每个试场-->
            <template v-for="(person, col) in allExamInfo.persons">
                <table>
                    <tr class="ticket-single-title">
                        <td colspan="3">
                            <template>
                                <h2 style="text-align: center">{{tableConfig.table4.title1}}</h2>
                                <h2 style="text-align: center; margin-top: -15px">{{tableConfig.table4.title2}}</h2>
                            </template>
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="2">考生号：{{person.examNumber}}</td>
                        <td :style="ticketSingleTd" rowspan="3" v-if="tableConfig.table4.showTicketSinglePic">
                            <template>
                                <div class="rrr">
                                    <img :src="picHost + person.picSrc" alt=""
                                         :width="ticketImgWidth * 1.5 + 'px'"
                                         :height="ticketImgWidth * 1.5 + 'px'">
                                </div>
                            </template>
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="2">证件号码：{{person.idCard}}</td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="">考生姓名：{{person.name}}</td>
                        <td :style="ticketSingleTd" colspan="1">性别：{{person.sex}}</td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td v-if="person.examPlaceName !=null && person.examPlaceName.length > 0" :style="ticketSingleTd" colspan="1">
                            考点：{{person.examPlaceName}}
                        </td>
                        <td v-if="person.originExamPlaceName !=null && person.originExamPlaceName.length > 0" :style="ticketSingleTd" colspan="2">
                            所属学校：{{person.originExamPlaceName}}
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="3" v-show="person.time != null && person.time !== ''">
                            考试时间：{{person.time}}
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="3">
                            类别：{{person.subjectName}}<span
                                v-if="person.subjectName">(</span>{{person.subjectType}}<span
                                v-if="person.subjectName">)</span>
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="1">
                            试场号：{{person.roomNo}}
                        </td>
                        <td :style="ticketSingleTd" colspan="2">
                            座位号：{{person.seatNo}}
                        </td>
                    </tr>
                    <tr class="ticket-single-main" v-if="tableConfig.table4.ticketSingleMsg">
                        <td :style="ticketSingleTd" colspan="3">
                            <p v-for="msg in displayTicketSingleMsg()">{{msg}}</p>
                        </td>
                    </tr>
                </table>
                <div style="page-break-after:always;"></div>
            </template>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.write("<script src='js/index.js?version=" + Math.random() + "'><\/script>");
</script>
</body>
</html>