<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>核对单</title>
    <script src="js/lib/vue.js"></script>
    <script src="js/lib/axios.min.js"></script>
    <script src="js/utils/util.js"></script>
    <script src="js/classes.js"></script>
</head>
<style>
    .info {
        margin-right: 10px;
        margin-top: 5px;
        font-family: 宋体, serif;
    }

    .check-caption {
        font-size: 25px;
        font-family: 黑体, serif;
    }

    .number-input {
        width: 50px;
    }

    #tables4 table {
        border-collapse: collapse;
    }

    #tables4 td {
        border: 1px solid black;
        padding: 0;
        text-align: center;
        font-size: 20px;
        font-family: 宋体, serif;
        height: 30px;
        min-width: 100px;
    }

    .table-title {
        font-size: 30px;
        margin: 10px;
        font-family: 黑体, serif;
    }

    .ticket-p {
        font-size: 19px;
        font-family: 宋体, serif;
    }

    @media print {
        .no-print {
            display: none;
        }
    }

    .middle {
        margin: auto;
    }

    #container p {
        line-height: 19px;
    }

    #ticket-single table {
        border-collapse: collapse;
    }

    #ticket-single .ticket-single-main {
        font-size: 19px;
        font-family: 宋体, serif;
        height: 60px;
    }

    #ticket-single .rrr {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
<div id="app">
    <div class="no-print">
        <h1>嘉兴市职业技能操作考试试场编排系统</h1>
        <div style="display: flex">

            <div style="float: left; margin-left: 5px; border-right: black solid 1px">
                <h3>
                    打印设置
                </h3>
                <div>
                    <div>
                        <label>字体大小: {{infoFontSize}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button v-on:click="changeInfoFontSize(1)">+</button>
                        <button v-on:click="changeInfoFontSize(-1)">-</button>
                    </div>
                    <hr>

                    <div>
                        <h4>核对单功能</h4>
                        <label>
                            每行数量
                            <input v-model="colCount" type="number" class="number-input">
                        </label>&nbsp;&nbsp;&nbsp;
                        <label>
                            图片大小
                            <input v-on:change="adjustImgSize()" v-on:input="adjustImgSize()" v-model="imgWidth"
                                   type="number"
                                   class="number-input">
                        </label>
                        <br/>
                        <label>若图片数量较多，调整上述参数时会有卡顿。</label>
                        <p>
                            <label for="ww">核对单表头</label><input id="ww" v-model="tableTitle" style="width: 300px;">
                        </p>
                        <p>
                            <label for="www">准考证表头1</label><input id="www" v-model="ticketTitle"
                                                                       style="width: 300px;">
                        </p>
                        <p>
                            <label for="www2">准考证表头2</label><input id="www2" v-model="examName"
                                                                        style="width: 300px;">
                        </p>
                        <button v-on:click="processPic(0)">顺序生成</button>
                        <button v-on:click="processPic(Math.ceil(Math.random() * 10000000000))">随机生成</button>
                        <button v-on:click="advanceChange()">高级设置</button>
                        <br/>
                        <p>
                            <button v-on:click="exportExcel()">导出Excel</button>
                        </p>
                        <div v-show="advance">
                            <hr>
                            <p>
                                <button v-on:click="processPic(random)">使用右侧随机数生成</button>
                                <label>
                                    <input type="number" v-model="random">
                                </label>
                            </p>
                            <p>
                                <label>两次的随机数若一致，那么生成的顺序也是一致的。</label>
                            </p>
                            <button v-on:click="changeSubjectInfo()">显示/隐藏科目设置</button>
                            <hr>
                        </div>

                    </div>

                    <hr>
                    <div>
                        <h4>准考证生成</h4>
                        <button v-on:click="changeTab('准考证列表')">准考证生成</button>
                    </div>

                </div>
                <hr>

                <hr>

                <p>
                    打印前，请先大致浏览一遍页面，确保每张图片浏览器都显示出来了。
                </p>
                <p>
                    点击打印后，建议生成PDF文件。同时可以导出Excel表格方便查看。
                </p>
                <hr>

                <button onclick="window.print()">打印(Ctrl+P)/保存</button>

            </div>

            <div style="width: 450px;">
                <h3>打印页面使用说明</h3>
                <p>
                    本页面是在选择完毕考生信息Excel文件和照片后，进行的设置。若没有选择照片，那么将无法显示照片。
                </p>
                <hr>

                <p>
                    “核对单功能”中，“顺序生成”会主要按照Excel的顺序进行一次生成，不改变同一个类别内的顺序。随机生成则会随机打乱同一个考点下同一个类别内的考生次序。
                </p>
                <p>
                    “高级选项”中，可以指定随机数。那么程序会用该随机数，通过某种算法，来打乱次序。为 0
                    的时候不打乱。随机数相同那么打乱情况也相同（也就是可以用来重现编排）。
                </p>
                <hr>

                <p>
                    “准考证生成”需要先生成核对单，会根据核对单来生成准考证。一页 8 张。
                </p>
                <hr>

                <p>
                    最后，当设置完成后，点击打印，即可弹出打印预览的界面。
                </p>
                <span style="font-size: 8px; color: lightgray">@嘉兴市教育考试院</span>
            </div>
        </div>
        <hr>

        <div v-if="showSubjectInfo" id="table" style="border-right: black 1px solid;">
            <h3>
                数量时间信息临时设置
            </h3>
            <button v-on:click="change()">保存下述内容</button>

            <table>
                <thead>
                <tr>
                    <td>
                        考点代码
                    </td>
                    <td>
                        科目类别
                    </td>
                    <td>
                        科目类别名
                    </td>
                    <td>
                        试场容纳人数
                    </td>
                    <td>
                        试场数量
                    </td>
                    <td>
                        考试时间
                    </td>
                </tr>
                </thead>
                <template v-for="examRoomInfo in examRoomInfoList">
                    <tr>
                        <td>
                            {{examRoomInfo.examPlaceId == null ? "无" : examRoomInfo.examPlaceId}}
                        </td>
                        <td>
                            {{examRoomInfo.subjectType}}
                        </td>
                        <td>
                            {{examRoomInfo.subjectName}}
                        </td>
                        <td>
                            <label>
                                <input v-model="examRoomInfo.maxCount" type="number" class="number-input">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input v-model="examRoomInfo.roomCount" type="number" class="number-input">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input v-model="examRoomInfo.time" style="width: 230px">
                            </label>
                        </td>
                    </tr>
                </template>
            </table>
        </div>
        <hr>
        <div>

            <hr>
        </div>
        <h2>{{tab}}</h2>
        <button v-on:click="changeTab('核对单列表(带照片)')">切换至 核对单列表(带照片)</button>
        <button v-on:click="changeTab('核对单列表(无照片)')">切换至 核对单列表(无照片)</button>
        <button v-on:click="changeTab('准考证列表')">切换至 准考证列表</button>
        <button v-on:click="changeTab('准考证列表(单张)')">切换至 准考证列表(单张)</button>
        <hr>
    </div>

    <div id="container" style="display: flex">
        <div id="tables3" class="print middle" v-if="tab === '核对单列表(带照片)'">

            <!--科目下的单个试场-->
            <template v-for="(room, index) in allExamInfo.rooms">
                <div style="line-height: 1px">&nbsp;</div>
                <table>
                    <caption>
                        <div style="margin-bottom: 8px;">
                            <p class="table-title">{{tableTitle}}</p>
                            <!--考点-科目-试场号-->
                            <span class="check-caption" style="float: left">
                                            考点：{{room.examPlaceName}}
                                        </span>
                            <span class="check-caption">
                                            {{room.subjectName}}({{room.subjectType}})
                                        </span>
                            <span class="check-caption" style="float: right">
                                            试场：{{room.roomName}}
                                        </span>
                        </div>
                    </caption>

                    <!--单个考点下若干行-->
                    <template v-for="row in Math.ceil(room.persons.length / colCount)">
                        <tr>
                            <!--每行具体内容-->
                            <template
                                    v-for="(person, col) in room.persons.slice((row - 1) * colCount, row * colCount)">
                                <td>
                                    <img :src="picHost + person.picSrc" alt="" :width="imgWidth + 'px'"
                                         :height="imgHeight + 'px'"
                                         style="margin-right: 40px; margin-bottom: 0; margin-top: 12px;">
                                    <p class="info">{{person.examNumber}}</p>
                                    <p class="info">{{person.name}}</p>
                                    <p class="info">座位号：{{person.seatNo}}</p>
                                </td>
                            </template>

                            <!--最后一行补充空白-->
                            <template v-if="(row * colCount) > room.persons.length">
                                <template v-for="row in (colCount - room.persons.length % colCount)">
                                    <!--空白行-->
                                    <td>
                                        <img :src="emptyPng" alt=" " :width="imgWidth + 'px'"
                                             :height="imgHeight + 'px'"
                                             style="margin-right: 40px; margin-bottom: 0; margin-top: 12px; border: none">
                                    </td>
                                </template>

                            </template>
                        </tr>
                    </template>
                </table>

                <div class="no-print">
                    <hr>
                </div>
                <div style="page-break-after:always;"></div>
            </template>
        </div>

        <div id="tables4" class="print middle" v-if="tab === '核对单列表(无照片)'">

            <!--科目下的单个试场-->
            <template v-for="(room, index) in allExamInfo.rooms">
                <div style="line-height: 1px">&nbsp;</div>
                <table>
                    <caption>
                        <div style="margin-bottom: 8px;">
                            <p class="table-title">{{tableTitle}}</p>
                            <!--考点-科目-试场号-->
                            <span class="check-caption" style="float: left">
                                            考点：{{room.examPlaceName}}
                                        </span>
                            <span class="check-caption">
                                            {{room.subjectName}}({{room.subjectType}})
                                        </span>
                            <span class="check-caption" style="float: right">
                                            试场：{{room.roomName}}
                                        </span>
                        </div>
                    </caption>
                    <thead>
                    <tr>
                        <td>序号</td>
                        <td>准考证号</td>
                        <td>姓名</td>
                        <td>证件号码</td>
                        <td>性别</td>
                        <td>座位号</td>
                        <td>签名</td>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(person, index) in room.persons">
                        <tr>
                            <td>{{index + 1}}</td>
                            <td>{{person.examNumber}}</td>
                            <td>{{person.name}}</td>
                            <td>{{person.idCard}}</td>
                            <td>{{person.sex}}</td>
                            <td>{{person.seatNo}}</td>
                            <td style="min-width: 150px"></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <div style="page-break-after:always;"></div>
            </template>
        </div>


        <div id="ticket" class="print middle" style="width: 2000px" v-if="tab === '准考证列表'">
            <template v-for="row in Math.ceil(allExamInfo.persons.length / ticketColCount)">
                <table>
                    <tr>
                        <template
                                v-for="(person, col) in allExamInfo.persons.slice((row - 1) * ticketColCount, row * ticketColCount)">
                            <td>
                                <div>
                                    <h2 style="text-align: center">{{ticketTitle}}</h2>
                                    <h2 style="text-align: center; margin-top: -15px">{{examName}}</h2>
                                </div>

                                <div style="margin-right: 20px; width: 535px; float: left">
                                    <div style="float: right">
                                        <img :src="picHost + person.picSrc" alt=""
                                             :width="ticketImgWidth + 'px'"
                                             :height="ticketImgWidth * 1.4 + 'px'" style="margin-right: 40px;">
                                    </div>
                                    <div style="margin-right: 20px">
                                        <p class="ticket-p">准考证号：{{person.examNumber}}</p>
                                        <p class="ticket-p">证件号码：{{person.idCard}}</p>
                                        <p class="ticket-p">
                                            考生姓名：{{person.name}}&nbsp;性别：{{person.sex}}</p>
                                        <p class="ticket-p"
                                           v-show="person.examPlaceName !=null && person.examPlaceName.length > 0">
                                            考点：{{person.examPlaceName}}</p>
                                        <p class="ticket-p">
                                            类别：{{person.subjectTypeName}}{{addPrefixZero(person.subjectTypeName ? person.subjectTypeName.length : null, 4)}}
                                            试场号：{{person.roomNo}}&nbsp;座位号：{{person.seatNo}}</p>
                                        <p class="ticket-p" v-show="person.time != null && person.time !== ''">
                                            时间：{{person.time}}
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </template>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                            <p></p>
                            <p></p>
                        </td>
                    </tr>
                </table>

                <template v-if="row % 4 === 0">
                    <!--每隔 4 行一次分页，但是除 这个试场的 row 是最后一行，或者 这个科目是最后一个 之外-->
                    <div class="no-print">
                        <hr>
                    </div>
                    <div style="page-break-after: always;"></div>
                </template>
            </template>
        </div>

        <div id="ticket-single" class="print middle" v-if="tab === '准考证列表(单张)'">
            <div class="no-print">
                <button @click="changeTicketPicShow()">显示/隐藏照片</button>
            </div>
            <!--单个科目，遍历下属的每个试场-->
            <template v-for="(person, col) in allExamInfo.persons">
                <table>
                    <tr class="ticket-single-title">
                        <td colspan="3">
                            <template>
                                <h2 style="text-align: center">{{ticketTitle}}</h2>
                                <h2 style="text-align: center; margin-top: -15px">{{examName}}</h2>
                            </template>
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="2">准考证号：{{person.examNumber}}</td>
                        <td :style="ticketSingleTd" rowspan="4" v-if="showTicketSinglePic">
                            <template>
                                <div class="rrr">
                                    <img :src="picHost + person.picSrc" alt=""
                                         :width="ticketImgWidth + 'px'"
                                         :height="ticketImgWidth + 'px'">
                                </div>
                            </template>
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="2">证件号码：{{person.idCard}}</td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="">考生姓名：{{person.name}}</td>
                        <td :style="ticketSingleTd" colspan="1">性别：{{person.sex}}</td>
                    </tr>
                    <tr class="ticket-single-main"
                        v-show="person.examPlaceName !=null && person.examPlaceName.length > 0">
                        <td :style="ticketSingleTd" colspan="2">
                            考点：{{person.examPlaceName}}
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="3" v-show="person.time != null && person.time !== ''">
                            考试时间：{{person.time}}
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="3">
                            类别：{{person.subjectName}}<span
                                v-if="person.subjectName">(</span>{{person.subjectType}}<span
                                v-if="person.subjectName">)</span>
                        </td>
                    </tr>
                    <tr class="ticket-single-main">
                        <td :style="ticketSingleTd" colspan="1">
                            试场号：{{person.roomNo}}
                        </td>
                        <td :style="ticketSingleTd" colspan="2">
                            座位号：{{person.seatNo}}
                        </td>
                    </tr>
                </table>
                <div style="page-break-after:always;"></div>
            </template>
        </div>
    </div>
</div>

<script src="js/index.js?version=1.3"></script>
</body>
</html>